<script lang="ts">
  import StripeProvider from '$lib/stripe/StripeProvider.svelte';
	import Header from '$lib/Header/index.svelte';
  import Cart from '$lib/Cart/index.svelte';
	import "../app.postcss";
</script>

<Header />

<StripeProvider>
  <Cart />
</StripeProvider>

<main>
  <slot />
</main>

<footer>
	<p>visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to learn SvelteKit</p>
</footer>
