<script context="module" lang="ts">
  export const prerender = true;

  export async function load({ fetch }) {
    const res = await fetch('/printify/products.json');
    let products = await res.json();
    products = products.data;
    return {
      status: 200,
      props: {
        products,
      },
    };
  }
</script>

<script lang="ts">
  import Products from '$lib/Products/list.svelte';
  
	export let products;
</script>

<svelte:head>
  <title>Products</title>
</svelte:head>

<Products {products} />

<div class="bg-gray-100 max-w-7xl overflow-x-scroll overflow-hidden mx-auto">
  <p>
    {JSON.stringify(products)}
  </p>
</div>