<script context="module" lang="ts">
  export const shopID = import.meta.env.VITE_PRINTIFY_SHOP;
  export const token = import.meta.env.VITE_PRINTIFY_TOKEN;
  const auth = `Bearer ${token}`
  
  export async function load({ page }) {
    const id = page.params.id;
    const url = `https://api.printify.com/v1/shops/${shopID}/products/${id}.json`;
    
    let res = await fetch(url, {
      method: 'GET',
      headers: {
        "Authorization": auth,
        "User-Agent": "SvelteKit"
      }
    });
    const product = await res.json();

    return {props: {product}};
  }
</script>

<script lang="ts">
  import ProductItem from '$lib/Products/item.svelte';
	import StripeProvider from '$lib/stripe/StripeProvider.svelte';
	export let product;
</script>

<svelte:head>
  <title>{product.title}</title>
</svelte:head>

<ProductItem {product}/>

<div class="bg-gray-100 max-w-7xl overflow-x-scroll overflow-hidden mx-auto">
  <p>
    {JSON.stringify(product)}
  </p>
</div>
