<script lang="ts">
  import { goto } from '$app/navigation';

  export let products = [];

  function penniesToDollars(pennies: number) {
    return pennies / 100;
  }

  async function choosePlan(product) {
    if (product.price.id) {
      const res = await fetch('/stripe/checkout-session', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ priceId: product.price.id }),
      });
      const { sessionId } = await res.json();
      stripe.redirectToCheckout({
        sessionId,
      });
    } else {
      goto('/counter');
    }
  }
</script>

<section class="products">
  {#each products as product}
    <div class="product">
      <div class="top">
        <div class="images">
          {#each product.images as image}
            {#if image.is_default}
              <img style="width:100px; margin-right:4px;" src="{image.src}" alt="{image.position}">
            {/if}
          {/each}
        </div>
        <div class="about">
          <a href="/product/{product.id}">
            <h2 class="title">
              {product.title}
            </h2>
          </a>
          <div class="description">
            {@html product.description}
          </div>
        </div>
        <button on:click={() => choosePlan(product)}>Choose</button>
      </div>
      <div class="divider" />
      <div class="variants">
        {#each product.options as option}
          <h2 class="title">{option.name}</h2>
          <div>
            {#each option.values as value}
              {#if !value.colors}
                {value.title} - {value.id}
              {/if}
              {#if value.colors}
                {#each value.colors as color }
                  <span title="{value.title} - {value.id}" style="border:1px solid black; display:inline-block; width:20px; height:20px; background-color:{color};"></span>
                {/each}
              {/if}
            {/each}
          </div>
        {/each}
      </div>
    </div>
  {/each}
</section>
