<script lang="ts">
  import { page } from '$app/stores';
  import logo from './svelte-logo.svg';
</script>

<header>
  <nav>
    <ul>
      <li class:active={$page.path === '/'}>
        <a sveltekit:prefetch href="/">Pricing</a>
      </li>
      <li class:active={$page.path === '/counter'}>
        <a sveltekit:prefetch href="/counter">Counter</a>
      </li>
    </ul>
  </nav>
</header>
