<script lang="typescript">
  import {cart} from "$lib/cart.js";
  export let product;

  let selectedColor = "";
  let selectedSize = "";
 
  let selectedVariant = [];

  $: {selectedVariant = product.variants.filter( variant => variant.options.includes(selectedColor) && variant.options.includes(selectedSize) );}
  
  const addToCart = (product, variant) => {

    const productData = {
      "id": variant.id,
      "title": product.title,
      "sku": variant.sku,
      "price": variant.price,
      "quantity": 1
    }
    
		for(let item of $cart) {
				if(item.id === productData.id) {
					productData.quantity += 1
					$cart = $cart;
					return;
				}
		}
		$cart = [...$cart, productData]
	}

  function penniesToDollars(pennies) {
    return pennies / 100;
  }
</script>

<div class="bg-white">
  <div class="pt-6 pb-16 sm:pb-24">
    <div class="mt-8 max-w-2xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="lg:grid lg:grid-cols-12 lg:auto-rows-min lg:gap-x-8">
        <div class="lg:col-start-8 lg:col-span-5">
          <div class="flex justify-between">
            <h1 class="text-xl font-medium text-gray-900">
              {product.title}
            </h1>
            <p class="text-xl font-medium text-gray-500">
              {#if selectedVariant[0]}
                ${penniesToDollars(selectedVariant[0].price)}
              {:else}
                <small>Price based on options below.</small>
              {/if}
            </p>
          </div>
        </div>

        <!-- Image gallery -->
        <div class="mt-8 lg:mt-0 lg:col-start-1 lg:col-span-7 lg:row-start-1 lg:row-span-3">
          <h2 class="sr-only">Images</h2>

          <div class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-3 lg:gap-8">
            <img src="{product.images[0].src}" alt="" class="lg:col-span-2 lg:row-span-2 rounded-lg">  
            {#each product.images as image, i }
              {#if i > 0 && image.is_default}
              <img src="{image.src}" alt="Product Design" class="hidden lg:block rounded-lg">    
              {/if}
            {/each}
          </div>
        </div>

        <div class="mt-8 lg:col-span-5">
          <form>
            {#each product.options as option}
              {#if option.type == "color"}
                <div>
                  <h2 class="text-sm font-medium text-gray-900">Color</h2>
                  <fieldset class="mt-2">
                    <legend class="sr-only">
                      Choose a color.
                    </legend>  
                    <div class="flex flex-wrap items-center">
                      {#each option.values as value, i}
                          <!--
                            Active and Checked: "ring ring-offset-1"
                            Not Active and Checked: "ring-2"
                          -->
                          <label class:selected="{selectedColor === value.id }" on:click="{() => selectedColor = value.id }"
                            class="-m-0.5 relative p-2 rounded-full flex items-center justify-center cursor-pointer focus:outline-none ring-gray-900"
                          >
                            <input type="radio" name="color-choice" value="{value.id}" class="sr-only" aria-labelledby="color-choice-{i}-label">
                            <p id="color-choice-{i}-label" class="sr-only">
                              {value.title} - {value.id}
                            </p>
                            <span aria-hidden="true" title="{value.title}" style="background-color:{value.colors[0]}" class="h-8 w-8 border border-black border-opacity-10 rounded-full"></span>
                          </label>
                      {/each}
                    </div>
                  </fieldset>
                </div>
              {:else if option.type == "size"}
                <!-- Size picker -->
                <div class="mt-8">
                  <div class="flex items-center justify-between">
                    <h2 class="text-sm font-medium text-gray-900">Size</h2>
                  </div>

                  <fieldset class="mt-2">
                    <legend class="sr-only">
                      Choose a size
                    </legend>
                    <div class="grid grid-cols-3 gap-3 sm:grid-cols-6">
                      <!--
                        In Stock: "cursor-pointer", Out of Stock: "opacity-25 cursor-not-allowed"
                        Active: "ring-2 ring-offset-2 ring-indigo-500"
                        Checked: "bg-indigo-600 border-transparent text-white hover:bg-indigo-700", Not Checked: "bg-white border-gray-200 text-gray-900 hover:bg-gray-50"
                      -->

                      {#each option.values as value, i}
                        <label class:selected="{ selectedSize === value.id }" on:click="{() => selectedSize = value.id }"
                          class="border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none"
                        >
                          <input type="radio" name="size-choice" value="{value.id}" class="sr-only" aria-labelledby="size-choice-{i}-label">
                          <p id="size-choice-{i}-label" class="whitespace-nowrap">
                            {value.title}
                          </p>
                        </label>
                      {/each}

                    </div>
                  </fieldset>
                </div>
              {/if}              
            {/each}

            {#each selectedVariant as variant }
              <button on:click|preventDefault={() => addToCart(product, variant)}
                class="mt-8 w-full bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Add to cart
              </button>
            {/each}
            {#if !selectedVariant[0]}
            <button class="pointer-events-none mt-8 w-full bg-gray-400 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white">Select Color and Size</button>
            {/if}
          </form>

          <!-- Product details -->
          <div class="mt-10">
            <h2 class="text-sm font-medium text-gray-900">Description</h2>

            <div class="mt-4 prose prose-sm text-gray-500">
              {@html product.description}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.selected {
  @apply ring
}
</style>