<script>
  import { goto } from '$app/navigation';
  import { cart } from '$lib/cart.js';

  async function choosePlan(product) {
    if (product.price.id) {
      const res = await fetch('/stripe/checkout-session', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ priceId: product.price.id }),
      });
      const { sessionId } = await res.json();
      stripe.redirectToCheckout({
        sessionId,
      });
    } else {
      goto('/');
    }
  }

  const minusItem = (product) => {
    for (let item of $cart) {
      if (item.id === product.id) {
        if (product.quantity > 1) {
          product.quantity -= 1;
          $cart = $cart;
        } else {
          $cart = $cart.filter((cartItem) => cartItem != product);
        }
        return;
      }
    }
  };

  const plusItem = (product) => {
    for (let item of $cart) {
      if (item.id === product.id) {
        product.quantity += 1;
        $cart = $cart;
        return;
      }
    }
  };

  $: total = $cart.reduce((sum, item) => sum + item.price * item.quantity, 0);

  $: console.log($cart);
</script>

<div class="cart-list">
  <h1>Shopping Cart</h1>
  {#each $cart as item, i}
    {#if item.quantity > 0}
      <div class="cart-item">
        <img width="50" src={item.image} alt={item.name} />
        <div>
          {item.quantity}
          <button on:click={() => plusItem(item)}>+</button>
          <button on:click={() => minusItem(item)}>-</button>
        </div>
        <p>${item.price * item.quantity}</p>
      </div>
    {:else if item.quantity <= 0}
      {$cart.splice(i, 1)}
    {/if}
  {/each}
  <div class="total">
    <h4>Total: ${total}</h4>
  </div>
</div>

<style>
  .cart-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .total {
    text-align: right;
  }

  .cart-list {
    border: 2px solid;
    padding: 10px;
  }
</style>
